@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: rgb(17, 19, 19);
}
header{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    background-color: rgb(5, 5, 5);
    margin-bottom: 15%;
    height: 60px;
}
nav, button, p{
    color: rgb(221, 202, 202);
    font-weight: 500;
    font-size: 19px;
    padding-left: 20px;
    padding-right: 20px;

}
title{
    text-align: center;
}
header:first-child{
    margin-right:auto;  
}
button{
    border: 0;
    padding: 3px 25px;
    cursor: pointer;
    border-radius: 90px;
    background-color: rgb(23, 122, 96);
    margin-left: 4px;
}
